:host,
#calendar {
  position: fixed;
  width: calc(100% - 250px);
  top: 0;
  right: 0;
  height: 121px;
}

.calendar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.calendar .calendar-days {
  position: relative;
  float: left;
  display: inline-block;
  padding: .625rem;
  margin: 0;
  border-right: 1px solid var(--sea-green);
  border-bottom: 1px solid var(--sea-green);
  height: 100%;
  width: calc(100% / 7);
  cursor: pointer;
}

.calendar .calendar-days:last-of-type {
  border-right: 0;
}

.calendar .calendar-days .calendar-days__number,
.calendar .calendar-days .calendar-days__dayname {
  position: absolute;
  right: .625rem;
  color: var(--sea-green);
}

.calendar .calendar-days .calendar-days__number {
  font-size: 1.5rem;
}

.calendar .calendar-days .calendar-days__dayname {
  top: 2.25rem;
}

.category-wrapper{
  position: absolute;
  bottom: .625rem;
  left: .625rem;
}

.calendar .calendar-days .category {
  position: relative;
  float: left;
  clear: both;
  margin: .125rem 0;
  padding: .315rem;
  font-size: .625rem;
  background: var(--sea-green);
  color: var(--dirty-white);
  border-radius: 10px;
  transition: var(--trans);
}

@media only screen and (max-width: 767px) {
  :host,
  #calendar {
    width: 100%;
    height: 85px;
    top: 50px;
    z-index: 4;
  }

  .calendar{
    overflow: hidden;
    box-shadow: 0 5px 12px var(--light-gray);
  }

  .calendar .calendar-days{
    width: 100%;
    border-right: 0;
    padding: 1rem 1.5rem;
    background: var(--dirty-white);
  }

  .calendar .calendar-days .calendar-days__number,
  .calendar .calendar-days .calendar-days__dayname {
    position: absolute;
    color: var(--sea-green);
    right: 0;
    left: 3rem;
    top: 1rem;
  }

  .calendar .calendar-days .calendar-days__number {
    font-size: 2rem;
  }

  .calendar .calendar-days .calendar-days__dayname {
    top: 2.8rem;
    font-size: 1.5rem;
  }

  .category-wrapper{
    right: 2rem;
    bottom: 0;
    top: .5rem;
  }

  .calendar .calendar-days .category {
    position: relative;
    float: right;
    clear: both;
    margin: 2px 1rem;
    padding: .315rem;
    font-size: .725rem;
  }
}
