<header id="calendar">
  <ul class="calendar" [@loaded]="arrayCalendar.length">
    <li class="calendar-days" *ngFor="let d of arrayCalendar" (click)="setDay(d.year+'-'+d.month+'-'+d.day)">
      <span class="calendar-days__number">{{d.day}}</span>
      <span class="calendar-days__dayname">{{d.lblDay}}</span>
      <div class="category-wrapper">
        <span class="category" *ngFor="let t of d.tags" [ngStyle]="{'background-color': t.color}">#{{t.tags}}</span>
      </div>
    </li>
  </ul>
</header>
