#login {
  background: url('../../assets/img/bg-login.jpg') no-repeat fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

#login::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--sea-green-o);
  z-index: -1;
}

#login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: .625rem 2rem;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
  background: var(--dirty-white);
  box-shadow: 5px 10px 10px var(--dark-gray);
  animation: enter-login 1s both;
  animation-delay: .5s;
}

@media only screen and (max-width: 576px) {
  #login {
    padding: 1rem;
  }

  #login-form {
    width: 100%;
    height: auto;
    margin: 0;
    left: auto;
    position: relative;
    padding: 1rem;
    top: auto;
  }
}
