/*
* font-family: 'Raleway', sans-serif;
* font-family: 'Oxygen', sans-serif;
*/

:root {
  font-size: 16px;
  --dark-gray: #3b4446;
  --light-gray: #7b868a;
  --blue-sapphire: #166a8f;
  --sea-green: #2facb2;
  --sea-green-o: rgba(48, 170, 176, .5);
  --dirty-white: #eff2f3;
  --white: #fff;
  --black: #000;
  --trans: all .4s ease;
}

::-webkit-input-placeholder {
  color: var(--sea-green);
}
::-moz-placeholder {
  color: var(--sea-green);
}
:-ms-input-placeholder {
  color: var(--sea-green);
}

@keyframes enter-login {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@-webkit-keyframes enter-login{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  min-height: 100vh;
}

nav,
main,
aside,
section,
footer {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4{
  font-family: 'Oxygen', sans-serif;
  margin: .67rem 0;
}

h1 {
  width: 83px;
  height: 125px;
  background: url('../img/logo.png') top center no-repeat;
  background-size: cover;
  margin: 1rem auto;
}

h1 span{
  display: none;
}

b,
strong {
  font-weight: bolder;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  position: relative;
  color: var(--sea-green);
  transition: var(--trans);
  text-decoration: none;
}

a:focus,
a:hover{
  color: var(--blue-sapphire);
}

a:visited{
  color: var(--dark-gray);
}

a::before,
a::after{
  position: absolute;
  content: '';
  bottom: 0;
  width: 0;
  height: 1px;
  background: var(--sea-green);
  transition: var(--trans);
}

a::before{
  left: 50%;
}

a::after{
  right: 50%;
}

a:hover::before,
a:hover::after{
  width: 50%;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

button{
  font-family: 'Oxygen', sans-serif;
}

.cl{
  clear: both;
  width: 100%;
  height: 1px;
}

.tl{
  text-align: left;
}

.tc{
  text-align: center;
}

.tr{
  text-align: right;
}

.fa-heart{
  color: var(--sea-green);
}

#login {
  background-image: url('../img/bg-login.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#login::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--sea-green-o);
  z-index: -1;
}

#login-form,
#lost-password-form{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: .625rem 2rem;
  width: 500px;
  height: 500px;
  margin-top: -250px;
  margin-left: -250px;
  background: var(--dirty-white);
  box-shadow: 5px 10px 10px var(--dark-gray);
  animation: enter-login 1s both;
  animation-delay: .5s;
}

#lost-password-form{
  height: auto;
  transform: translateY(-50%);
  margin-top: 0;
}

#login-form header,
#login-form main,
#login-form footer{
  position: relative;
  width: 100%;
}

#login-form main{
  padding: 1rem;
}

#lost-password-form footer{
  margin: 1rem auto;
}

.form-group{
  width: 100%;
  margin: .315rem 0;
  position: relative;
}

.form-group.tc{
  margin: 1rem auto;
}

#lost-password-form .form-group{
  margin: 1rem auto;
}

.form-group label:not(.login-check){
  font-size: .725rem;
  position: absolute;
  bottom: .425rem;
  left: .625rem;
  transition: var(--trans);
  color: var(--sea-green);
}

.form-group label.is-active{
  bottom: 75%;
  left: 0;
}

.form-group input[type="checkbox"]{
  max-width: 20px;
}

.form-group input[type="checkbox"] + label{
  color: var(--sea-green);
  font-size: .825rem;
}

.form-group input{
  color: var(--sea-green);
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--sea-green);
  background: transparent;
  padding: .625rem;
  margin: .315rem 0;
}

button{
  position: relative;
  width: 100%;
  padding: .625rem;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--sea-green);
  cursor: pointer;
  color: var(--sea-green);
  transition: var(--trans);
  overflow: hidden;
  z-index: 1;
}

button:hover{
  color: var(--dirty-white);
}

button::before,
button::after{
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--sea-green);
  transition: var(--trans);
  z-index: -1;
  content: '';
}

button::before{
  left: 50%;
}

button::after{
  right: 50%;
}

button:hover::before,
button:hover::after{
  width: 50%;
}

@media only screen and (max-width: 576px){
  #login{
    padding: 1rem;
  }

  #login-form,
  #lost-password-form{
    width: 100%;
    height: auto;
    margin: 0;
    left: auto;
    position: relative;
    padding: .5rem;
  }

  #lost-password-form{
    transform: none;
  }
}

@media only screen and (max-width: 576px) and (max-height: 480px){
  :root{
    font-size: 14px;
  }

  h1{
    width: 41.5px;
    height: 62.5px;
    margin: .315rem auto;
  }

  #login-form main
  #lost-password-form main{
    padding: .5rem 1rem;
  }
}