<aside id="menu">
  <div class="menu-logo">
    <a routerLink="/">
      <h1>
        <span>CoEvents</span>
      </h1>
    </a>
  </div>
  <div class="menu-hamb" (click)="openMenuMobile()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>
  <div class="menu-nav" [ngClass]="{'opened': hambClicked === true}">
    <div id="loggedUser">
      <p>{{loggedUser}}</p>
    </div>
    <nav class="nav">
      <ul class="fa-ul">
        <li class="nav-mv events" appMenu>
          <i class="fa fa-fw fa-calendar-o"
             aria-hidden="true"></i> Events
          <ul class="fa-ul nav-sm"
              [ngClass]="{'active': isActive === 1}">
            <li class="nav-sm_smv">
              <i class="fa fa-fw fa-calendar-plus-o"
                 aria-hidden="true"></i>
              <a routerLink="/new-event">New Event</a>
            </li>
            <li class="nav-sm_smv">
              <i class="fa fa-fw fa-calendar"
                 aria-hidden="true"></i>
              <a routerLink="/events">All Events</a>
            </li>
            <li class="nav-sm_smv">
              <i class="fa fa-fw fa-calendar-check-o"
                 aria-hidden="true"></i>
              <a routerLink="/profile">My Events</a>
            </li>
          </ul>
        </li>
        <li class="nav-mv">
          <i class="fa fa-fw fa-user"
             aria-hidden="true"></i>
          <a routerLink="/profile">Profile</a>
        </li>
        <li class="nav-mv">
          <i class="fa fa-fw fa-building"
             aria-hidden="true"></i>
          <a routerLink="/company">Company</a>
        </li>
      </ul>
    </nav>
    <div class="menu-action">
      <i class="fa fa-lg fa-fw fa-bell-o"
         aria-hidden="true"></i>
      <i class="fa fa-lg fa-fw fa-sign-out"
         aria-hidden="true"
         (click)="doLogOut()"></i>
    </div>
  </div>
</aside>
