<app-menu></app-menu>
<app-header [h2OfPage]="h2"></app-header>
<div id="newEvent">
  <form novalidate #myForm="ngForm" name="myForm">
    <div class="row">
      <div class="form-group-2">
        <label for="name"
               [ngClass]="{'is-active': lblName}">
          Event Title
        </label>
        <input type="text"
               id="name"
               name="name"
               #Name="ngModel"
               (focus)="lblName = true"
               (blur)="labelMove(); nameToUrl()"
               [(ngModel)]="currentEvent.name"
               [ngClass]="{'error': !Name.pristine && !Name.valid}"
               required>
      </div>
      <div class="form-group-2">
        <label for="location"
               [ngClass]="{'is-active': lblLocation}">
          Location
        </label>
        <input type="text"
               id="location"
               name="location"
               #Loc="ngModel"
               (focus)="lblLocation = true"
               (blur)="labelMove()"
               [(ngModel)]="currentEvent.location"
               [ngClass]="{'error': !Loc.valid && !Loc.pristine}"
               required>
      </div>
    </div>
    <div class="row">
      <div class="form-group-4">
        <label for="dateStart"
               class="is-active">
          Date Start
        </label>
        <input type="text"
               id="dateStart"
               name="dateStart"
               placeholder="Date Start"
               (focus)="dp.toggleCalendar()"
               ngx-mydatepicker
               #dp="ngx-mydatepicker"
               [(ngModel)]="currentEvent.dateStart"
               [options]="datePickerOpt"
               required>
      </div>
      <div class="form-group-4">
        <label for="timeStart"
               class="is-active">
          Time Start
        </label>
        <input type="time"
               id="timeStart"
               name="timeStart"
               #TimeStart="ngModel"
               [(ngModel)]="currentEvent.timeStart"
               [ngClass]="{'error': !TimeStart.valid && !TimeStart.pristine}"
               required>
      </div>
      <div class="form-group-4">
        <label for="dateEnd"
               class="is-active">
          Date End
        </label>
        <input type="text"
               id="dateEnd"
               name="dateEnd"
               placeholder="Date End"
               (focus)="dp2.toggleCalendar()"
               ngx-mydatepicker
               #dp2="ngx-mydatepicker"
               [(ngModel)]="currentEvent.dateEnd"
               [options]="datePickerOpt"
               required>
      </div>
      <div class="form-group-4">
        <label for="timeEnd"
               class="is-active">
          Time End
        </label>
        <input type="time"
               id="timeEnd"
               name="timeEnd"
               #TimeEnd="ngModel"
               [(ngModel)]="currentEvent.timeEnd"
               [ngClass]="{'error': !TimeEnd.valid && !TimeEnd.pristine}"
               required>
      </div>
    </div>
    <div class="row">
      <div class="form-group-2">
        <label for="image"
               [ngClass]="{'is-active': lblImage}">
          Choose your Image
        </label>
        <select id="image"
                name="eventImage"
                (focus)="lblImage = true"
                (blur)="labelMoveSelectImage()"
                [(ngModel)]="currentEvent.imgPath"
                required>
          <option *ngFor="let image of arrayImages"
                  [value]="image.path">
            {{image.name}}
          </option>
        </select>
      </div>
      <div class="form-group-2">
        <label for="tags"
               [ngClass]="{'is-active': lblTag}">
          Choose your Category
        </label>
        <select id="tags"
                name="eventTag"
                (focus)="lblTag = true"
                (blur)="labelMoveSelectTag()"
                [(ngModel)]="currentEvent.tags"
                required>
          <option *ngFor="let tag of arrayTags"
                  [value]="tag.name">
            {{tag.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="description"
               class="textarea">Insert the description of the event</label>
        <textarea name="description"
                  id="description"
                  #desc="ngModel"
                  placeholder="Insert the description of the event"
                  [(ngModel)]="currentEvent.description"
                  [ngClass]="{'error': !desc.pristine && !desc.valid}"
                  required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group-2">
        <button type="button" class="btn cancel" (click)="clearInputs();">{{btnCancel}}</button>
      </div>
      <div class="form-group-2">
        <button type="button" [disabled]="!myForm.valid || myForm.pristine" class="btn" (click)="sendEventToDB()">
          {{btnSend}}
        </button>
      </div>
    </div>
  </form>
</div>
