<div class="card-header">
  <img src="assets/img/{{event.imgPath}}" style="max-width: 100%;">
</div>
<div class="card-btn">
  <a class="btn" routerLink="/event/{{event.url}}">Discover</a>
</div>
<div class="card-content">
  <p class="bold">
    <i class="fa fa-fw fa-lg fa-calendar-o" aria-hidden="true"></i>
    {{event.name}}
  </p>
  <p>
    <i class="fa fa-fw fa-lg fa-clock-o" aria-hidden="true"></i>
    {{eventDate2}} {{eventDate | date:'dd/M/y'}} / {{event.timeStart | time}} - {{event.timeEnd | time}}
  </p>
  <p>
    <i class="fa fa-fw fa-lg fa-map-marker" aria-hidden="true"></i>
    {{event.location}}
  </p>
  <p class="category" [ngStyle]="{'background-color': event.colorTag}">#{{event.tags}}</p>
</div>
