:host {
  flex: 0 0 calc(33.33% - 1.5rem);
  margin: .75rem;
  box-shadow: 0 5px 12px var(--light-gray-o);
  min-height: 250px;
  display: flex;
  flex-flow: row wrap;
}

.card-header,
.card-btn {
  height: 100px;
  flex: 0 0 50%;
  overflow: hidden;
}

.card-btn .btn {
  line-height: 500%;
}

.card-btn .btn:hover {
  color: var(--dirty-white);
}

.card-content {
  padding: .625rem 1rem;
  flex: 0 0 100%;
  order: 3;
}

.card-content > p {
  margin: .625rem 0;
  line-height: 1.2;
}

.card-content > p i {
  margin-right: .125rem;
}

p.category {
  background: var(--sea-green);
  color: var(--dirty-white);
  display: inline-block;
  border-radius: .625rem;
  padding: .315rem;
  cursor: default;
}

@media only screen and (max-width: 767px) {
  :host {
    flex: 0 0 calc(100% - 1.5rem);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  :host {
    flex: 0 0 calc(50% - 1.5rem);
    min-height: 250px;
  }
}
