:root {
  font-size: 16px;
  --dark-gray: #3b4446;
  --dark-gray-o: rgba(59, 68, 70, .9);
  --light-gray: #7b868a;
  --light-gray-o: rgba(175, 175, 175, .8);
  --blue-sapphire: #166a8f;
  --sea-green: #2facb2;
  --sea-green-o: rgba(48, 170, 176, .5);
  --dirty-white: #eff2f3;
  --white: #fff;
  --black: #000;
  --red: #f00;
  --trans: all .4s ease;
}

@keyframes enter-login {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes enter-login {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-input-placeholder {
  color: var(--sea-green);
}

::-moz-placeholder {
  color: var(--sea-green);
}

:-ms-input-placeholder {
  color: var(--sea-green);
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  min-height: 100vh;
}

nav,
main,
aside,
section,
footer {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oxygen', sans-serif;
  margin: .67rem 0;
  color: var(--sea-green);
}

h1 {
  width: 83px;
  height: 125px;
  background: url('./assets/img/logo.png') top center no-repeat;
  background-size: cover;
  margin: 1rem auto;
}

h1 span {
  display: none;
}

h2 {
  font-size: 2.5rem;
}

.row h2 {
  display: inline-block;
}

b,
strong,
.bold {
  font-weight: bolder;
}

a {
  background-color: transparent;
  position: relative;
  color: var(--sea-green);
  transition: var(--trans);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--blue-sapphire);
}

a:visited {
  color: var(--dark-gray);
}

a:not(.btn)::before,
a:not(.btn)::after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 0;
  height: 1px;
  background: var(--sea-green);
  transition: var(--trans);
}

a:not(.btn)::before {
  left: 50%;
}

a:not(.btn)::after {
  right: 50%;
}

a:not(.btn):hover::before,
a:not(.btn):hover::after {
  width: 50%;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.cl {
  clear: both;
  width: 100%;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.fa-heart {
  color: var(--sea-green);
}

.btn,
button {
  font-family: 'Oxygen', sans-serif;
}

.form-group {
  width: 100%;
  margin: .315rem 0;
  position: relative;
}

.form-group.tc {
  margin: 1rem auto;
}

#lost-password-form .form-group {
  margin: 1rem auto;
}

.form-group input {
  color: var(--sea-green);
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--sea-green);
  background: transparent;
  padding: .625rem;
  margin: .315rem 0;
}

.form-group input.error {
  border-bottom: 1px solid var(--red);
}

.form-group label:not(.login-check) {
  font-size: .725rem;
  position: absolute;
  bottom: .425rem;
  left: .625rem;
  transition: var(--trans);
  color: var(--sea-green);
}

.form-group label.is-active {
  bottom: 75%;
  left: 0;
}

input[type="checkbox"] {
  max-width: 20px;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
}

input[type="checkbox"]::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--sea-green);
  background: transparent;
  content: '';
}

input[type="checkbox"]::after {
  font-family: 'FontAwesome', Arial, sans-serif;
  position: absolute;
  right: -.5rem;
  top: -.315rem;
  content: '\f00c';
  color: var(--sea-green);
  font-size: 0;
  transition: var(--trans);
}

input[type="checkbox"]:checked::after {
  font-size: 1.5rem;
}

input[type="checkbox"] + label {
  color: var(--sea-green);
  font-size: .825rem;
  position: absolute;
  margin-left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.btn,
button {
  position: relative;
  width: 100%;
  padding: .625rem;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--sea-green);
  cursor: pointer;
  color: var(--sea-green);
  transition: var(--trans);
  overflow: hidden;
  z-index: 1;
}

.btn {
  float: left;
  height: 100%;
}

.btn:hover,
button:hover {
  color: var(--dirty-white);
}

.btn::before,
button::before,
.btn::after,
button::after {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--sea-green);
  transition: var(--trans);
  z-index: -1;
  content: '';
}

.btn::before,
button::before {
  left: 50%;
}

.btn::after,
button::after {
  right: 50%;
}

.btn:hover::before,
button:hover::before,
.btn:hover::after,
button:hover::after {
  width: 50%;
}

#login-error {
  width: calc(100% - 1.25rem);
  text-align: center;
  font-size: 1rem;
  color: var(--red);
  font-weight: 700;
  margin: .625rem;
}

@media only screen and (max-width: 767px) {
  :root {
    font-size: 14px;
  }
}

@media only screen and (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }
}
